@model Nop.Web.Areas.Admin.Models.Catalog.ProductSearchModel
@using FoxNetSoft.Plugin.Misc.ModularProducts.Models.Admin
@using Nop.Web.Framework.Extensions
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = @T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.Products.Manage").Text;

    NopHtml.SetActiveMenuItemSystemName("FoxNetSoft.ModularProducts.List");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.Products.Manage")
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default card-search">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchProductName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchProductName" />
                                </div>
                            </div>
                            <div class="form-group row" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-sm-4">
                                    <nop-label asp-for="SearchCategoryId" />
                                </div>
                                <div class="col-sm-8">
                                    <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchIncludeSubCategories" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchIncludeSubCategories" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group row" @(Model.AvailableManufacturers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-sm-4">
                                    <nop-label asp-for="SearchManufacturerId" />
                                </div>
                                <div class="col-sm-8">
                                    <nop-select asp-for="SearchManufacturerId" asp-items="Model.AvailableManufacturers" />
                                </div>
                            </div>
                            <div class="form-group row" @((Model.IsLoggedInAsVendor && Model.AvailableVendors.SelectionIsNotPossible()) ? Html.Raw("style='display: none;'") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchVendorId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                </div>
                            </div>
                            <div class="form-group row" @(Model.AvailableWarehouses.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchWarehouseId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchWarehouseId" asp-items="Model.AvailableWarehouses" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-12">
                            <button type="button" id="search-products" class="btn btn-primary btn-search">
                                <i class="fas fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "products-grid",
                        UrlRead = new DataUrl("ProductList", "ModularProductsAdmin", null),
                        SearchButtonId = "btnSearch",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchProductName)),
                            new FilterParameter(nameof(Model.SearchCategoryId)),
                            new FilterParameter(nameof(Model.SearchIncludeSubCategories), typeof(bool)),
                            new FilterParameter(nameof(Model.SearchManufacturerId)),
                            //new FilterParameter(nameof(Model.SearchStoreId)),
                            new FilterParameter(nameof(Model.SearchWarehouseId)),
                            new FilterParameter(nameof(Model.SearchVendorId)),
                            //new FilterParameter(nameof(Model.SearchProductTypeId)),
                            new FilterParameter(nameof(Model.SearchPublishedId))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(ModularProductModel.Published))
                            {
                                Title = T("Admin.Catalog.Products.Fields.Published").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(ModularProductModel.PictureThumbnailUrl))
                            {
                                Title = T("Admin.Catalog.Products.Fields.PictureThumbnailUrl").Text,
                                Width = "100",
                                Render = new RenderPicture()
                            },
                            new ColumnProperty(nameof(ModularProductModel.Name))
                            {
                                Title = T("Admin.Catalog.Products.Fields.Name").Text,
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderCustom("renderColumnNameModularProductName")
                            },
                            new ColumnProperty(nameof(ModularProductModel.ProductTemplate))
                            {
                                Title = T("Admin.Catalog.Products.Fields.ProductTemplate").Text,
                                Width = "200"
                            },
                            new ColumnProperty(nameof(ModularProductModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                    <script>
                        function renderColumnNameModularProductName(data, type, row, meta) {
                    return '<a href="@Url.Content("~/Admin/Product/Edit/")'+ row.Id + '">' + row.Name +'</a>';
                }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
