@model Nop.Web.Models.Catalog.ProductDetailsModel
@using FoxNetSoft.Plugin.Misc.ModularProducts.Helpers

@{
    var idEnteredQuantity = string.Format("addtocart_{0}_EnteredQuantity", Model.Id);
}
<div class="product-modular-line" data-productid="@Model.Id">
   @if (!String.IsNullOrWhiteSpace(Model.DefaultPictureModel.ImageUrl))
   {
        <div class="variant-picture">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl"
                title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
        </div>
   }
	<div class="product-modular-info">
		@if (!String.IsNullOrWhiteSpace(Model.Name))
		{
			<div class="variant-name">
				@Model.Name
			</div>
		}
		@if (!String.IsNullOrWhiteSpace(Model.ShortDescription))
		{
			<div class="variant-description">
				@Html.Raw(Model.ShortDescription)
			</div>
		}
        @*
		@Html.Action("ProductTierPrices", "Catalog", new { productId = Model.Id })
        *@
        @{
            var dataDictAttributes = new ViewDataDictionary(ViewData);
            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
            @await Html.PartialAsync(await ResolveViewPathHelper.GetViewPathAsync("ModularProduct/_ProductModularAttributes"), Model.ProductAttributes, dataDictAttributes)
        }
        <!--gift card-->
        @{
            var dataDictGiftCard = new ViewDataDictionary(ViewData);
            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{Model.Id}";
            @await Html.PartialAsync(await ResolveViewPathHelper.GetViewPathAsync("Product/_GiftCardInfo"), Model.GiftCard, dataDictGiftCard)
        }
        <!--SKU, MAN, GTIN, vendor-->
        @await Html.PartialAsync("_SKU_Man_GTIN_Ven", Model)
        @{
            var dataDictPrice = new ViewDataDictionary(ViewData);
            dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{Model.Id}";
            @await Html.PartialAsync(await ResolveViewPathHelper.GetViewPathAsync("ModularProduct/_ProductModularPrice"), Model.ProductPrice, dataDictPrice)
        }
        <div class="add-to-cart">
            @if (!Model.AddToCart.DisableBuyButton)
            {
                <div class="add-to-cart-panel">
                    <label for="@idEnteredQuantity" asp-postfix=":" class="qty-label"></label>
                    <input id="@idEnteredQuantity" class="qty-input" type="text" value="@Model.AddToCart.EnteredQuantity" name="@idEnteredQuantity" data-val-number="The field Qty must be a number." data-val="true" autocomplete="off">
                </div>
            }
        </div>
	</div>
</div>
