@model AttachmentModel
@{
    var adminTitleClass = "col-md-3";
    var adminDataClass = "col-md-9";
    var panelClass = "panel panel-default";

    if (ViewBag.isPopup)
    {
        adminTitleClass = "col-sm-3";
        adminDataClass = "col-sm-8";
        panelClass += " panel-popup";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.AttachmentMode)").change(showAppropriateTabs);

        showAppropriateTabs();
    });

    var productMappingsSelector = 'ul.nav-tabs li:nth-child(3)';
    var conditionsSelector = 'ul.nav-tabs li:nth-child(4)';
    var productOverridesSelector = 'ul.nav-tabs li:nth-child(5)';
    var customerOverridesSelector = 'ul.nav-tabs li:nth-child(6)';

    $(productMappingsSelector).hide();
    $(conditionsSelector).hide();
    $(productOverridesSelector).hide();
    $(customerOverridesSelector).hide();

    function showAppropriateTabs() {
        //Manual attachment mode
        if ($('#@Html.IdFor(model => model.AttachmentMode)').val() === "0") {
            $(productMappingsSelector).show();
            $(conditionsSelector).hide();
            $(productOverridesSelector).hide();
            $(customerOverridesSelector).hide();
        //Automatic attachment mode
        } else if ($('#@Html.IdFor(model => model.AttachmentMode)').val() === "1") {
            $(productMappingsSelector).hide();
            $(conditionsSelector).show();
            $(productOverridesSelector).show();
            $(customerOverridesSelector).show();
        }
    }
</script>

<div class="card-body">
    @if (!ViewBag.isPopup)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="AttachmentMode" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="AttachmentMode" asp-items="Model.AvailableAttachmentModes" />
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="Visible" />
        </div>
        <div class="@adminDataClass">
            <nop-editor asp-for="Visible" />
        </div>
    </div>
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="Name" />
        </div>
        <div class="@adminDataClass">
            <nop-editor asp-for="Name" />
        </div>
    </div>
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="ShortDescription" />
        </div>
        <div class="@adminDataClass">
            <nop-textarea asp-for="ShortDescription"></nop-textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="DisplayOrder" />
        </div>
        <div class="@adminDataClass">
            <nop-editor asp-for="DisplayOrder" />
        </div>
    </div>
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="ImageId" />
        </div>
        <div class="@adminDataClass">
            <nop-editor asp-for="ImageId" />
        </div>
    </div>
    <div class="form-group row margin-t-10">
        <div class="@adminTitleClass">
            <nop-label asp-for="CategoryId" />
        </div>
        <div class="@adminDataClass">
            <nop-select asp-for="CategoryId" asp-items="Model.AvailableCategories" />
        </div>
    </div>
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="LanguageId" />
        </div>
        <div class="@adminDataClass">
            <nop-select asp-for="LanguageId" asp-items="Model.AvailableLanguages" />
        </div>
    </div>
    <div class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="VideoEmbedCode" />
        </div>
        <div class="@adminDataClass">
            <nop-textarea asp-for="VideoEmbedCode"></nop-textarea>
        </div>
    </div>
    <div id="pnlDownloadFile" class="form-group row">
        <div class="@adminTitleClass">
            <nop-label asp-for="DownloadId" />
        </div>
        <div class="@adminDataClass">
            <nop-editor asp-for="DownloadId" />
            <span asp-validation-for="DownloadId"></span>
        </div>
    </div>
</div>