@model Nop.Web.Models.Catalog.ProductDetailsModel
@using System.Text
@using System.Globalization
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog
@using Nop.Services.Catalog
@using Nop.Web.Framework.UI
@using FoxNetSoft.Plugin.Misc.ModularProducts.Services
@inject IModularProductService modularProductService
@inject IPriceFormatter priceFormatter
@inject Nop.Core.IWorkContext workContext
@{
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui/jquery-ui-1.10.3/jquery-ui-1.10.3.custom.min.js");

    var modularprice = priceFormatter.FormatPrice(0);
    string pattern = "(?<val>(\\d+[\\s\\,\\.]?)+)";
    string replacement = "<span class=\"price-cal-modular-for-dyn-upd\">${{val}}</span> ";

    var modularProductsTableScripts = new StringBuilder();

    string modularProductsTableName = string.Format("modularProductsTable_{0}", Model.Id);
    string modularProductsDefaultValueTableName = string.Format("modularProductsDefaultValueTable_{0}", Model.Id);

    foreach (var productvariant in Model.AssociatedProducts)
    {
        string controlId = string.Format("addtocart_{0}_EnteredQuantity", productvariant.Id);
        modularProductsTableScripts.AppendFormat(CultureInfo.InvariantCulture, "{0}['{1}'] = {2};\n", modularProductsTableName, controlId, (float)productvariant.ProductPrice.PriceValue);
        modularProductsTableScripts.AppendFormat(CultureInfo.InvariantCulture, "{0}['{1}'] = [1,0,999999];\n", modularProductsDefaultValueTableName, controlId);
    }

    //get OrderDefaultQuantity per ProductId
    var productDefaultQuantities = modularProductService.GetProductDefaultQuantitiesByProductId(Model.Id);
    foreach (var productDefaultQuantity in productDefaultQuantities)
    {
        foreach (var variant in Model.AssociatedProducts)
        {
            if (variant.Id == productDefaultQuantity.ProductVariantId)
            {
                string controlId = string.Format("addtocart_{0}_EnteredQuantity", variant.Id);
                variant.AddToCart.EnteredQuantity = productDefaultQuantity.OrderDefaultQuantity;
                modularProductsTableScripts.AppendFormat(CultureInfo.InvariantCulture, "{0}['{1}'] = [{2},{3},{4}];\n",
                    modularProductsDefaultValueTableName,
                    controlId,
                    productDefaultQuantity.OrderDefaultQuantity,
                    productDefaultQuantity.MinQuantity,
                    productDefaultQuantity.MaxQuantity
                    );
            }
        }

    }
}
    <script asp-location="Footer">
		    // Modular Products table
                var @(modularProductsTableName) = new Array();
                var @(modularProductsDefaultValueTableName) = new Array();
		    // Modular Products table initialize
		    @Html.Raw(modularProductsTableScripts.ToString())

		    // Modular Products update price function
		    function modularproductupdateprice(i,price)
		    {
                @(modularProductsTableName)[i]=price;
		        modularproductscalcprice();
		    }
		    // Modular Products price function
		    function modularproductscalcprice()
            {
		        var sum = 0;
		        for(var i in @(modularProductsTableName))
                {
		            var ctrl = $('#' + i)[0];
		            if (ctrl)
		            {
		                var kol=parseInt(ctrl.value);
		                if (isNaN(kol) || kol<0) {kol=0;};
		                sum += @(modularProductsTableName)[i]* kol;
		            }
	        	}
                var res = modularproductsformarprice(sum);
         	    $(".price-cal-modular-for-dyn-upd").text(res);
			}
			function modularproductsformarprice(sum) {
				@if ((workContext.WorkingCurrency.CustomFormatting??"").Equals("N0"))
                {
					<text>
					return sum.toFixed(0);
					</text>
				}
				else
                {
					<text>
					return sum.toFixed(2);
					</text>
				}
			}
		    // Modular Products spinner function
		    function modularproductsmakespinner()
		    {
                for (var i in @(modularProductsTableName))
		        {
		            $('#' + i).spinner({
		                min: @(modularProductsDefaultValueTableName)[i][1],
		                max: @(modularProductsDefaultValueTableName)[i][2],
                        change: modularproductscalcprice,
		                stop: modularproductscalcprice,
		                spin: function( event, ui )
		                {
		                    if ( ui.value > 1000 )
		                    {
		                        $( this ).spinner( 'value', 1000 );
		                        return false;
		                    } else if ( ui.value < 0 )
		                    {
		                        $( this ).spinner( 'value', 0 );
		                        return false;
		                    }
		                }
		            });
		        }
		    }
		        //Modular Products Cart function
		    function modularproductstocart()
		    {
		        for(var i in @(modularProductsTableName))
		        {
		            var ctrl = $('#' + i)[0];
		            if(ctrl)
		            {
		                var kol=parseInt(ctrl.value);
		                if (isNaN(kol) || kol<0) {kol=0;};
		                if (kol>0)
		                {
		                    //alert(parseInt(i.substring(10)));
		                    var productvariantid=parseInt(i.substring(10));
		                    if (!isNaN(productvariantid) && productvariantid>0)
		                    {
		                        AjaxCart.addmodularproductstocart();
		                    }
		                }
		            }
                }
             }

			function modularproductsclearselection()
            {
			    for(var i in @(modularProductsTableName))
			    {
			        var ctrl=$('#' + i)[0];
			        if (ctrl)
			        {
			            ctrl.value = 0;
			        }
				}
                var res = modularproductsformarprice(0.00);
                $(".price-cal-modular-for-dyn-upd").text(res);
		    }

		    // Attributes handlers
		        $(document).ready(function()
		        {
        		    modularproductscalcprice();
        		    modularproductsmakespinner();

		            AjaxCart.addmodularproductstocart=function()
		            {
		                if (this.loadWaiting != false)
		                {
	    	                return;
		                }
		                this.setLoadWaiting(true);

		                var modularproducts=[];
		                for(var i in @(modularProductsTableName))
		                {
		                    var ctrl = $('#' + i)[0];
		                    if (ctrl)
		                    {
		                        var kol=parseInt(ctrl.value);
		                        if (isNaN(kol) || kol<0) {kol=0;};
		                        if (kol>0)
		                        {
		                            var productvariantid=parseInt(i.substring(10));
		                            if (!isNaN(productvariantid) && productvariantid>0)
		                            {
		                                modularproducts.push(productvariantid);
		                            }
		                        }
		                    }
		                }
		                if (modularproducts.length==0)
		                {
                            return;
		                }
		                $.ajax({
		                    cache: false,
		                    url: '@Url.Action("AddProductCollectionToCartForm", "ModularProductsShoppingCart", new { productId = Model.Id })',
                            data: $('#product-details-form').serialize(),
                            type: 'post',
                            success: this.success_process,
                            complete: this.resetLoadWaiting,
                            error: this.ajaxFailure
		                });
		            };
		        });

    </script>
<div class="product-modular-total">
    <div class="prices prices-modularproducts">
        <div class="product-price">
            <span>
                <label>@T("FoxNetSoft.Plugin.Misc.ModularProducts.NamePrice")</label>
                @Html.Raw(Regex.Replace(modularprice, pattern, replacement))
            </span>
        </div>
    </div>
    <div class="add-to-cart-modularproduct">
        <input type="button" class="button-1 add-to-cart-button grey" value="@T("Admin.Common.Clear")" onclick="modularproductsclearselection()" />
        <input type="button" class="button-1 add-to-cart-button" value="@T("ShoppingCart.AddToCart")" onclick="modularproductstocart()" />
    </div>
</div>