@model Actopus.Nop.Plugin.Payments.MollieKlarna.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
<form asp-controller="PaymentMollieKlarna" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <b>@T("Nop.Plugin.Actopus.MollieKlarna.Notes")</b>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    IP address
                                </div>
                                <div class="col-md-9">
                                    <div class="callout bg-gray-light no-margin">
                                        @Model.IpAddress
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    Host
                                </div>
                                <div class="col-md-9">
                                    <div class="callout bg-gray-light no-margin">
                                        @Model.Host
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if (Model.LicenseNotification)
                            {
                                <p>
                                    In order to activate this Mollie-Klarna payment plugin please follow the next steps:
                                </p>
                                <ol>
                                    <li>
                                        First purchase a valid license key for this host: @Model.Host at <a href="http://www.actopus.com/en/mollie-version-20-klarna-plug-in-for-nopcommerce" target="_blank">www.actopus.com/en/mollie-payment-plug-in-for-nopcommerce</a>
                                    </li>
                                    <li>
                                        Next register your license key using the <a href="../ActopusLicenseManager/Configure">actOpus plugin license manager</a>.
                                    </li>
                                    <li>
                                        In case the Mollie-Klarna payment plugin cannot be loaded: Register this plugin again and then run the config again.
                                    </li>
                                    <li>
                                        Can't get the plugin to work: contact us at <a href="mailto:info@actopus.com">actOpus support</a>.
                                    </li>
                                </ol>
                                <br />
                                <p>
                                    This plugin only supports the Klarna payment methods that you enable in your Mollie Dashboard.
                                </p>
                            }
                            else
                            {
                                <p>
                                    Your license is valid. <br />
                                    In order to use this Mollie-Klarna payment plugin please follow the next steps:
                                </p>
                                <ol>
                                    <li>
                                        Create a Mollie website profile in your Mollie dashboard. Your Mollie dashboard can be accessed from here: <a href="https://www.mollie.com/dashboard/settings/profiles" target="_blank">Mollie dashboard profiles</a>
                                    </li>
                                    <li>
                                        Copy the Live and Test API keys from your Mollie website profile into the fields below. Your Mollie dashboard can be accessed from here: <a href="https://www.mollie.com/dashboard/settings/profiles" target="_blank">Mollie dashboard profiles</a>
                                    </li>
                                    <li>
                                        Enable the payment methods in your Mollie website profile. Your Mollie dashboard can be accessed from here: <a href="https://www.mollie.com/dashboard/settings/profiles" target="_blank">Mollie dashboard profiles</a>
                                    </li>
                                    <li>
                                        Optionally (but recommended) you may personalize your Mollie Payment Screen for your Mollie-Klarna Website profile. Your Mollie dashboard can be accessed from here: <a href="https://www.mollie.com/dashboard/settings/profiles" target="_blank">Mollie dashboard profiles</a>
                                    </li>
                                    <li>
                                        Finally update your privacy policy to reflect the GDPR/AVG ruling.
                                    </li>
                                </ol>
                                <p>
                                    This plugin only supports the Klarna payment methods that you enable in your Mollie Dashboard.
                                </p>
                                <p>
                                    Promo:<br />
                                    Interested in an accounting application that integrates with nopCommerce? Check out <a href="http://www.nopfinance.com/" target="_blank">NopFinance&reg;</a><br />
                                    Download NopFinance and start accounting? Check out <a href="http://shop.nopfinance.com/" target="_blank">NopFinance&reg; Shop and Forum</a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                @if (!Model.LicenseNotification)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="LiveAPIKey_OverrideForStore" asp-input="LiveAPIKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="LiveAPIKey" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LiveAPIKey" />
                            <span asp-validation-for="LiveAPIKey"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="TestAPIKey_OverrideForStore" asp-input="TestAPIKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="TestAPIKey" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="TestAPIKey" />
                            <span asp-validation-for="TestAPIKey"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="PreferOrderReference_OverrideForStore" asp-input="PreferOrderReference" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="PreferOrderReference" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PreferOrderReference" />
                            <span asp-validation-for="PreferOrderReference"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="TestModeActive_OverrideForStore" asp-input="TestModeActive" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="TestModeActive" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="TestModeActive" />
                            <span asp-validation-for="TestModeActive"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <b>Default payment fees</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="AdditionalFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AdditionalFee" />
                            <span asp-validation-for="AdditionalFee"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="AdditionalFeePercentage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AdditionalFeePercentage" />
                            <span asp-validation-for="AdditionalFeePercentage"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <b>Payment fees for the Netherlands</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="NLAdditionalFee_OverrideForStore" asp-input="NLAdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="NLAdditionalFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="NLAdditionalFee" />
                            <span asp-validation-for="NLAdditionalFee"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="NLAdditionalFeePercentage_OverrideForStore" asp-input="NLAdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="NLAdditionalFeePercentage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="NLAdditionalFeePercentage" />
                            <span asp-validation-for="NLAdditionalFeePercentage"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <b>Payment fees for Germany</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="DEAdditionalFee_OverrideForStore" asp-input="DEAdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="DEAdditionalFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DEAdditionalFee" />
                            <span asp-validation-for="DEAdditionalFee"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="DEAdditionalFeePercentage_OverrideForStore" asp-input="DEAdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="DEAdditionalFeePercentage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DEAdditionalFeePercentage" />
                            <span asp-validation-for="DEAdditionalFeePercentage"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <b>Payment fees for Austria</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="ATAdditionalFee_OverrideForStore" asp-input="ATAdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="ATAdditionalFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ATAdditionalFee" />
                            <span asp-validation-for="ATAdditionalFee"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="ATAdditionalFeePercentage_OverrideForStore" asp-input="ATAdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="ATAdditionalFeePercentage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ATAdditionalFeePercentage" />
                            <span asp-validation-for="ATAdditionalFeePercentage"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <b>Payment fees for Finland</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="FIAdditionalFee_OverrideForStore" asp-input="FIAdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="FIAdditionalFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="FIAdditionalFee" />
                            <span asp-validation-for="FIAdditionalFee"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="FIAdditionalFeePercentage_OverrideForStore" asp-input="FIAdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="FIAdditionalFeePercentage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="FIAdditionalFeePercentage" />
                            <span asp-validation-for="FIAdditionalFeePercentage"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="ShowOrderDetailsUponCompletion_OverrideForStore" asp-input="ShowOrderDetailsUponCompletion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="ShowOrderDetailsUponCompletion" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ShowOrderDetailsUponCompletion" />
                            <span asp-validation-for="ShowOrderDetailsUponCompletion"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="save" class="btn bg-blue" value="@T(" Admin.Common.Save")" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <b>@T("Nop.Plugin.Actopus.MollieKlarna.Notes.MethodInfo")</b>
                    </div>
                </div>
                @if (Model.Methods != null && Model.Methods._embedded != null && Model.Methods._embedded.methods.Count() > 0)
                {
                    foreach (var method in Model.Methods._embedded.methods)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @method.description
                            </div>
                            <div class="col-md-9">
                                <img src="@method.image.size1x" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @T("Nop.Plugin.Actopus.MollieKlarna.Fields.Methods.None")
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>-->
</form>
