@model FoxNetSoft.Plugin.Misc.PDFInvoice.Models.PDFTemplateModel
@using FoxNetSoft.Plugin.Misc.PDFInvoice.Domain
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = @T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.EditDetails").Text;

    // Determine context based on template type filter
    var isInvoiceContext = Model.TemplateTypeId == (int)TemplateType.Invoice;

    // Set page title based on context
    if (isInvoiceContext)
    {
        NopHtml.SetActiveMenuItemSystemName("FoxNetSoft.PDFInvoice.Invoices");
    }
    else
    {
        NopHtml.SetActiveMenuItemSystemName("FoxNetSoft.PDFInvoice.PackageSlips");
    }
}
<form asp-controller="PDFInvoiceAdmin" asp-action="Edit" method="post" id="pdftemplate-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.EditDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-route-templateType="@Model.TemplateTypeId">@T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="button" id="btnPreviewHTML" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                @T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.PreviewInHTML")
            </button>
            <button type="button" id="btnPreviewPDF" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                @T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.PreviewInPDF")
            </button>

            <a href="@Url.Action("ExportTemplate", "PDFInvoiceAdmin", new { id = Model.Id })" class="btn bg-green">
                <i class="fa fa-download"></i>
                @T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.Export")
            </a>
            <button type="button" id="btnImportTemplate" class="btn bg-olive">
                <i class="fa fa-upload"></i>
                @T("Admin.FoxNetSoft.Plugin.Misc.PDFInvoice.PDFTemplate.Import")
            </button>

            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="pdftemplate-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/FoxNetSoft.PDFInvoice/Views/PDFInvoiceAdmin/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="pdftemplate-delete" />
