@model FoxNetSoft.Plugin.Misc.ModularProducts.Models.Admin.ModularProductsSettingsModel
@using FoxNetSoft.Plugin.Misc.ModularProducts.Models.Admin
@using Microsoft.AspNetCore.Mvc.Controllers
@using Nop.Core
@using Nop.Services.Plugins
@inject IWebHelper webHelper
@inject IPluginService pluginService
@{
    var plugin = pluginService.FindPluginByTypeInAssembly((this.ViewContext.ActionDescriptor as ControllerActionDescriptor).ControllerTypeInfo);

    //friendly name
    var friendlyName = plugin?.PluginDescriptor.FriendlyName;

    //Misc plugins

    var configureLocale = "Admin.Configuration.Plugins.Misc.Configure";
    var backToLocale = "Admin.Configuration.Plugins.Misc.BackToList";
    var listActionMethodName = "List";
    var listControllerName = "Plugin";

    //Layout = "_ConfigurePlugin";
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("FoxNetSoft.ModularProducts.Configure");
    ViewBag.Title = T(configureLocale).Text + " - " + friendlyName;

}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(configureLocale) - @friendlyName
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="@listActionMethodName" asp-controller="@listControllerName">@T(backToLocale)</a>
        </small>
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <form asp-controller="ModularProductsSettings" asp-action="Configure" method="post">
            <script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.showDebugInfo)").click(toggleshowDebugInfo);
            toggleshowDebugInfo();
        });

        function toggleshowDebugInfo() {
            if ($('#@Html.IdFor(model => model.showDebugInfo)').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').show();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hide();
            }
        }
            </script>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @if (Model.IsRegisted == true)
                            {
                                @T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.IsRegisted")
                            }
                            else
                            {
                                @T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.IsNoRegisted")
                                <br />
                                <a href="https://www.foxnetsoft.com/nopcommerce-modular-products" target="blank">Buy It Now</a>
                            }
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            <b>Important.</b>
                            <br />
                            Copy ProductTemplate and partial view files
                            <br />
                            <i>ProductTemplate.ProductModular.cshtml</i>
                            <br />
                            <i>ProductTemplate.ProductModular2.cshtml</i>
                            <br />
                            from folder
                            <br />
                            <i>Plugins\FoxNetSoft.ModularProducts\Views\ProductTemplates</i>
                            <br />
                            to the theme folder
                            <br />
                            <i>Themes\{YourThemeName}\Views\Product</i>
                            <br />
                            <b>Important 2.</b>
                            <br />
                            If you use plugin Nop Quick View copy files
                            <br />
                            <i>ProductTemplate.ProductModular.cshtml</i>
                            <br />
                            <i>ProductTemplate.ProductModular2.cshtml</i>
                            <br />
                            from folder
                            <br />
                            <i>~\Plugins\FoxNetSoft.ModularProducts\Views\QuickView</i>
                            <br />
                            to folder
                            <br />
                            <i>~\Plugins\SevenSpikes.Nop.Plugins.QuickView\Views\QuickViewCatalog</i>
                            <br />
                            After copying files you should <b>restart your store.</b>
                            <br />
                            <br />
                            <div>
                                <a href="@Url.Action("CopyFiles")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.CopyFiles")</a>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AvtomaticChangePriceSet" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AvtomaticChangePriceSet" />
                                <span asp-validation-for="AvtomaticChangePriceSet"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="IgnoreDiscounts" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IgnoreDiscounts" />
                                <span asp-validation-for="IgnoreDiscounts"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="showDebugInfo" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="showDebugInfo" />
                                <span asp-validation-for="showDebugInfo"></span>
                                <div id="pnlclearlogfile">
                                    <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.ClearLogFile")</a>
                                </div>
                                <div id="pnlgetlogfile">
                                    <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.GetLogFile")</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreUrl" />
                            </div>
                            <div class="col-md-9">
                                <input class="form-control text-box single-line" id="StoreUrl" name="StoreUrl" value="@Model.StoreUrl" type="text" readonly="readonly">
                                <span asp-validation-for="StoreUrl"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SerialNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SerialNumber" />
                                <span asp-validation-for="SerialNumber"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                            </div>
                        </div>
                        <p>
                            Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                            <br />
                            Installation and configuring plug-in at our site <a href="https://www.foxnetsoft.com/documentation-nopmodularproducts" target="blank">https://www.foxnetsoft.com/documentation-nopmodularproducts</a>
                            <br />
                            <a href="https://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                        </p>
                    </div>
                </div>
                @if (Model.ModularWarnings.Any())
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                @T("Admin.FoxNetSoft.Plugin.Misc.ModularProducts.Warnings")
                            </p>
                            <p class="system-warnings">
                                <ul>
                                    @foreach (var warning in Model.ModularWarnings)
                                    {
                                        <li>
                                            @switch (warning.Level)
                                            {
                                                case ModularWarningLevel.Pass:
                                                    {
                                                        <span class="pass">@Html.Raw(warning.Text)</span>
                                                    }
                                                    break;
                                                case ModularWarningLevel.Warning:
                                                    {
                                                        <span class="warning">@Html.Raw(warning.Text)</span>
                                                    }
                                                    break;
                                                case ModularWarningLevel.Fail:
                                                    {
                                                        <span class="fail">@Html.Raw(warning.Text)</span>
                                                    }
                                                    break;
                                            }
                                        </li>
                                    }
                                </ul>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
</div>


