@model FoxNetSoft.Plugin.Misc.SmartCampaigns.Models.SmartCampaignModel
@using Nop.Core.Domain.Common
@using Nop.Services
@using FoxNetSoft.Plugin.Misc.SmartCampaigns.Models
@inject AdminAreaSettings adminAreaSettings

<div class="cards-group">
    <div class="card card-default">
        <div class="card-body">
            <div class="form-group row">
                <script>
                            function toggleLoadedAllowedTokens() {
                                $('#pnlAllowedTokens').toggle();
                                if ($('#pnlAllowedTokens').css('display') == 'none') {
                                    $('#allowedTokensShowHide').html('@T("Admin.Common.Show")');
                                } else {
                                    $('#allowedTokensShowHide').html('@T("Admin.Common.Hide")');
                                }
                            }
                </script>
                <div class="col-md-3">
                    <nop-label asp-for="AllowedTokens" />
                </div>
                <div class="col-md-9">
                    <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">@T("Admin.Common.Show")</a>
                    <div id="pnlAllowedTokens" style="display: none">
                        <div class="form-text-row">@Model.AllowedTokens</div>
                        <div id="pnlOrderAllowedTokens" class="form-text-row">@Model.OrderAllowedTokens</div>
                    </div>
                </div>
            </div>
            @(await Html.LocalizedEditorAsync<SmartCampaignModel, SmartCampaignLocalizedModel>("smartcampaign-info-localized",
                        @<div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.Locales[item].Subject" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.Locales[item].Subject" />
                                    <span asp-validation-for="@Model.Locales[item].Subject"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.Locales[item].Body" />
                                </div>
                                <div class="col-md-9">
                                    @if (adminAreaSettings.UseRichEditorInMessageTemplates)
                                        {
                                        //we use rich editor with BODY tag supported
                                        //it could be a better practice to implement one more editor (similar to RichEditor.cshtml)
                                        //with "enableFullPage" property set to "true". but we do not want to duplicate source code
                                        //that's why we use this workaround
                                        //we store a value into "ViewData" and then use it in the RichEditor.cshtml file
                                        <div class="input-group input-group-required">
                                            <nop-editor asp-for="@Model.Locales[item].Body" asp-template="RichEditor" />
                                            <div class="input-group-btn">
                                                <nop-required />
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                        <nop-textarea asp-for="@Model.Locales[item].Body" asp-required="true" style="min-height: 300px;"></nop-textarea>
                                        <text>
                                            <script>
                                        $(document).ready(function () {
                                            $('#@Html.IdFor(model => model.Locales[item].Body)').height($('#@Html.IdFor(model => model.Locales[item].Body)')[0].scrollHeight);
                                        });
                                            </script>
                                        </text>
                                        }
                                    <span asp-validation-for="@Model.Locales[item].Body"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                        </div>
                                            ,
                                        @<div>
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="Subject" />
                                                </div>
                                                <div class="col-md-9">
                                                    <nop-editor asp-for="Subject" />
                                                    <span asp-validation-for="Subject"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="@Model.Body" />
                                                </div>
                                                <div class="col-md-9">
                                                    @if (adminAreaSettings.UseRichEditorInMessageTemplates)
                                                        {
                                                        //we use rich editor with BODY tag supported
                                                        //it could be a better practice to implement one more editor (similar to RichEditor.cshtml)
                                                        //with "enableFullPage" property set to "true". but we do not want to duplicate source code
                                                        //that's why we use this workaround
                                                        //we store a value into "ViewData" and then use it in the RichEditor.cshtml file
                                                        ViewData["nop.RichEditor.EnableFullPage"] = true;
                                                        <div class="input-group input-group-required">
                                                            <nop-editor asp-for="Body" asp-template="RichEditor" />
                                                            <div class="input-group-btn">
                                                                <nop-required />
                                                            </div>
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                        <nop-textarea asp-for="Body" asp-required="true" style="min-height: 300px;"></nop-textarea>
                                                        <text>
                                                            <script>
                                        $(document).ready(function () {
                                            $('#@Html.IdFor(model => model.Body)').height($('#@Html.IdFor(model => model.Body)')[0].scrollHeight);
                                        });
                                                            </script>
                                                        </text>
                                                        }
                                                    <span asp-validation-for="@Model.Body"></span>
                                                </div>
                                            </div>
                                        </div>
                                                            ))
        </div>
    </div>
</div>
