@model FoxNetSoft.Plugin.Misc.SmartCampaigns.Models.SmartCampaignProductModel
@{
    Layout = "_AdminPopupLayout";
    //page title
    ViewBag.PageTitle = string.Format(T("Admin.FoxNetSoft.Plugin.Misc.SmartCampaigns.Products.AddNew.Title2").Text, Model.ProductName, Model.SmartCampaignId);
}

@using Nop.Core.Domain.Common

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}
else
{
<form asp-controller="SmartCampaignAdmin" asp-action="ProductAttributePopup"
      asp-route-id="@Context.Request.Query["id"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]"
      method="post" enctype="multipart/form-data"
      id="product-details-form"
      >
        <div asp-validation-summary="All"></div>
        <div class="content-header clearfix">
            <h1 class="float-left">
                @string.Format(T("Admin.FoxNetSoft.Plugin.Misc.SmartCampaigns.Products.AddNew.Title2").Text, Model.ProductName, Model.SmartCampaignId)
            </h1>
            <div class="float-right">
                &nbsp;
            </div>
        </div>

        <div class="content">
            @Html.ValidationSummary(false)
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            @if (Model.Warnings.Count > 0)
                            {
                                <div class="alert alert-warning alert-dismissible">
                                    @foreach (var warning in Model.Warnings)
                                    {
                                        @warning
                                    }
                                </div>
                            }
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="ProductName" />
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control text-box single-line" id="ProductName" name="ProductName" value="@Model.ProductName" type="text" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="ProductSku" />
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control text-box single-line" id="ProductSku" name="ProductSku" value="@Model.ProductSku" type="text" readonly="readonly">
                                </div>
                            </div>
                            @if (Model.ProductAttributes.Any())
                            {
                                var dataDict = new ViewDataDictionary(ViewData) { new KeyValuePair<string, object>("productId", Model.ProductId) };
                                @await Html.PartialAsync("~/Plugins/FoxNetSoft.SmartCampaigns/Views/SmartCampaignAdmin/_ProductAddAttributes.cshtml", Model.ProductAttributes, dataDict)
                                <div class="form-group row">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" id="add-attribute-combination" name="add-attribute-combination" class="btn btn-primary">
                                            @T("Admin.FoxNetSoft.Plugin.Misc.SmartCampaigns.Products.AddProductAttributes")
                                        </button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p>
                                    This product hasn't any product attributes.
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}